<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="NuGet Package Source" value="https://api.nuget.org/v3/index.json" />	
		<add key="Stone Artifactory" value="https://artifacts.stone.com.br:8443/artifactory/api/nuget/nuget-prod-local" />
		<add key="Stone Artifactory QTS" value="https://artifacts.buy4.io/artifactory/api/nuget/nuget-prod" />
		<add key="Stone Artifactory DC" value="https://artifacts-vip.stone.com.br:8443/artifactory/api/nuget/nuget-prod-local" />
	</packageSources>
	<!-- <activePackageSource> -->
		 <!-- this tells that all of them are active -->
		<!-- <add key="All" value="(Aggregate source)" /> -->
	<!-- </activePackageSource> -->
    <!-- Used to disable package sources  -->
    <!-- <disabledPackageSources />   -->
</configuration>